@use 'sass:map';
@use '@angular/material' as mat;

@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/elegant';
@import 'codemirror/addon/fold/foldgutter';

.CodeMirror {
    border-radius: 4px;
}

.CodeMirror-foldmarker {
    color: black;
    text-shadow: none;
}

.editor-mat {
    @include mat.icon-button-density(-4);
    @include mat.button-density(-1);
    @include mat.checkbox-density(-2);
    @include mat.form-field-density(-1);
    @include mat.form-field-overrides(
        (
            filled-label-text-size: var(--mat-sys-body-medium-size),
            container-text-size: var(--mat-sys-body-medium-size),
        )
    );
    @include mat.select-overrides(
        (
            trigger-text-size: var(--mat-sys-body-medium-size),
        )
    );
    @include mat.expansion-overrides(
        (
            header-text-size: var(--mat-sys-body-medium-size),
        )
    );
    @include mat.tabs-overrides(
        (
            divider-color: var(--mat-sys-outline-variant),
        )
    );

    .mat-form-field-appearance-outline {
        .mat-mdc-text-field-wrapper {
            padding: 0 8px;
        }

        .mat-mdc-form-field-infix {
            padding: 0.4em 0 !important;
            min-height: 0;
            line-height: 1;
        }
    }

    .mat-button-toggle-group {
        .mat-button-toggle {
            flex-basis: 50%;
            min-width: 120px;
        }

        .mat-button-toggle-label-content {
            line-height: 32px !important;
        }

        .mat-icon {
            margin-right: 4px;
        }
    }

    .mat-mdc-icon-button {
        line-height: normal;
    }

    .mat-mdc-option,
    .mat-mdc-menu-item {
        min-height: 40px;
    }
}

formly-field {
    display: block;
}

.editor-resizing {
    transition: none !important;
}

.tree-container {
    min-width: max-content;
    padding: 8px;
    box-sizing: border-box;
}

.tree-item {
    display: block;
    user-select: none;
}

.property-field {
    flex-grow: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.expand-icon {
    color: var(--mat-sys-on-surface-variant);
    transition: transform 0.15s ease-out;
}

.expand-icon.expanded-90 {
    transform: rotate(90deg);
}

.expand-icon.expanded-180 {
    transform: rotate(-180deg);
}

.dialogBackdrop {
    background-color: white;
    opacity: 0.6 !important;
}

.editor-action-buttons {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
}

[editor-hidden='true'] {
    display: none !important;
}
