@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/elegant';

:root {
    --editor-header-height: 48px;
    --editor-tree-item-height: 32px;
}

editor-edit-field {
    .mat-expansion-panel {
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: none !important;
    }

    .mat-form-field-wrapper {
        margin-bottom: -1.25em;
    }

    .mat-form-field-infix {
        width: unset;
    }
}

.editor-mat {
    .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
            margin: 0 !important;
            padding-bottom: 0 !important;
        }

        .mat-form-field-infix {
            padding: 0.5em 0 !important;
            border-top: none;
        }

        .mat-form-field-outline {
            top: 0 !important;
        }

        .mat-form-field-flex {
            margin-top: 0 !important;
        }

        .mat-form-field-label-wrapper {
            top: -1.25em;
            padding-top: 1.25em;
        }

        .mat-form-field-subscript-wrapper {
            display: none;
        }
    }

    .mat-button-toggle-group {
        .mat-button-toggle {
            flex-basis: 50%;
            min-width: 120px;
        }

        .mat-button-toggle-label-content {
            line-height: 32px !important;
        }

        .mat-icon {
            margin-right: 4px;
        }
    }

    .mat-button .mat-icon {
        margin-right: 4px;
    }

    button.mat-icon-button {
        --button-size: 28px;
        height: var(--button-size) !important;
        width: var(--button-size) !important;
        line-height: var(--button-size) !important;
    }
}

.editor-mat-option,
.editor-mat-menu-item {
    line-height: 40px !important;
    height: 40px !important;
}

editor-sidebar .resizing {
    transition: none !important;
}

.CodeMirror {
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}

formly-field {
    display: block;
}

.tree-container {
    min-width: max-content;
    padding: 8px;
    box-sizing: border-box;
}

.tree-item {
    display: block;
    user-select: none;
}

.property-field {
    flex-grow: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.expand-icon {
    color: rgba(0, 0, 0, 0.54);
    transition: transform 0.2s ease-out;
}

.expand-icon.expanded-90 {
    transform: rotate(90deg);
}

.expand-icon.expanded-180 {
    transform: rotate(-180deg);
}

.dialogBackdrop {
    background-color: white;
    opacity: 0.6 !important;
}

[hidden] {
    display: none !important;
}
