$app-header-height: 64px;

:host {
    display: block;
    height: 100%;
}

.app-header {
    height: $app-header-height - 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.app-editor-container {
    height: calc(100% - $app-header-height);
}

.app-title {
    font-size: 1.25em;
    font-weight: 500;
}

.app-actions {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
