server {
    listen 80;
    listen [::]:80;

    server_name  localhost;

    location = /health {
        access_log off;
        add_header 'Content-Type' 'application/json';
        return 200 '{ "status": "OK!" }';
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
	    try_files $uri $uri/ /index.html;
    }
}
