<div class="editor-wrapper" [ngClass]="{'edit-mode': wrapperService.isEditMode, 'active': isActiveField}" (click)="onClick($event)">
    <div class="editor-header" *ngIf="wrapperService.isEditMode">
        <span class="editor-title">{{ formService.getFormattedFieldName(field.name, field.key) }}</span>
        <button *ngIf="field.canHaveChildren" mat-icon-button [matMenuTriggerFor]="addMenu" (click)="$event.stopPropagation()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-menu #addMenu="matMenu">
            <button mat-menu-item *ngFor="let type of formService.fieldTypes" (click)="onAddChildField(type)">
                {{formService.getFieldTypeName(type)}}
            </button>
        </mat-menu>
        <button *ngIf="!!field.parentFieldId" mat-icon-button (click)="onRemove(); $event.stopPropagation()">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
    <ng-container #fieldComponent></ng-container>
</div>
