<div class="tree-item-header" [class.active]="field === activeField" (click)="onHeaderClicked($event)" (mouseenter)="isPropertyHighlighted = true" (mouseleave)="isPropertyHighlighted = false">
	<span class="tree-item-header-content-left">
		<button mat-icon-button [ngStyle]="{'margin-right.px': treeLevelPadding}" [matMenuTriggerFor]="optionsMenu" (click)="$event.stopPropagation()">
			<mat-icon>more_vert</mat-icon>
		</button>
		
		<mat-menu #optionsMenu="matMenu">
			<button *ngIf="canHaveChildren" mat-menu-item [matMenuTriggerFor]="addMenu">
				<mat-icon>add</mat-icon>
				<span>Add</span>
			</button>
			<button *ngIf="canHaveChildren" mat-menu-item [matMenuTriggerFor]="replaceMenu">
				<mat-icon>sync</mat-icon>
				<span>Replace</span>
			</button>
			<button *ngIf="treeLevel !== 0" mat-menu-item (click)="remove.emit()">
				<mat-icon>remove</mat-icon>
				<span>Remove</span>
			</button>
		</mat-menu>
	
		<mat-menu #addMenu="matMenu">
			<button mat-menu-item *ngFor="let type of formService.fieldTypes" (click)="onAddChildField(type)">
				{{formService.getFieldTypeName(type)}}
			</button>
		</mat-menu>
		
		<mat-menu #replaceMenu="matMenu">
			<button mat-menu-item *ngFor="let type of replaceOptions" (click)="onReplaceParentField(type)">
				{{formService.getFieldTypeName(type)}}
			</button>
		</mat-menu>
	
		<!-- use a disabled button to provide padding for non expandable fields -->
		<button mat-icon-button [disabled]="!canHaveChildren" (click)="onToggle($event)">
			<mat-icon class="expand-icon" [class.expanded-90]="isExpanded" *ngIf="canHaveChildren">chevron_right</mat-icon>
		</button>
		<span>{{ formService.getFormattedFieldName(field.name, field.key) }}</span>
	</span>
</div>

<ng-container *ngIf="childFields && isExpanded">
    <app-field-tree-item *ngFor="let child of childFields" [field]="child"
							[treeLevel]="treeLevel + 1"
                            [activeField]="activeField"
                            (remove)="onRemoveChildField(child)">
    </app-field-tree-item>
</ng-container>
