@if (props.label) {
    <legend>{{ props.label }}</legend>
}
@if (props.description) {
    <p>{{ props.description }}</p>
}

@for (field of field.fieldGroup; track field; let i = $index) {
    <div style="display: flex; align-items: baseline">
        <formly-field
            style="flex-grow: 1"
            [field]="field"
        ></formly-field>
        <button
            mat-icon-button
            color="warn"
            (click)="remove(i)"
        >
            <mat-icon>remove</mat-icon>
        </button>
    </div>
}
<div style="margin: 16px 0">
    <button
        mat-flat-button
        color="primary"
        (click)="add()"
    >
        {{ props.addText }}
    </button>
</div>
