@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../projects/editor/src/styles.scss';

html,
body,
app-root {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
