@use '@angular/material' as mat;

html {
    color-scheme: light;
    @include mat.theme(
        (
            color: mat.$cyan-palette,
            typography: Roboto,
            density: -1,
        )
    );
}
@include mat.form-field-density(-1);
@include mat.form-field-overrides(
    (
        filled-label-text-size: var(--mat-sys-body-medium-size),
        container-text-size: var(--mat-sys-body-medium-size),
    )
);
@include mat.select-overrides(
    (
        trigger-text-size: var(--mat-sys-body-medium-size),
    )
);
@include mat.option-overrides(
    (
        label-text-size: var(--mat-sys-body-medium-size),
    )
);
@include mat.expansion-overrides(
    (
        header-text-size: var(--mat-sys-body-medium-size),
    )
);
@include mat.tabs-overrides(
    (
        divider-color: var(--mat-sys-outline-variant),
    )
);
